#landing {
  min-height: 100vh;
  background-image: url("../images/vada.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #landing nav.navbar-inverse {
    background-color: transparent;
    border-color: transparent; }
  #landing nav.navbar-inverse .navbar-nav > .active > a {
    background-color: transparent; }
  #landing nav a {
    text-align: center;
    color: #C8AF59;
    font-weight: 200;
    font-family: "Raleway";
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold; }
  #landing nav .navbar-brand {
    text-transform: uppercase;
    color: #C9604C;
    font-family: "Yeseva-one";
    font-size: 1.3em; }
  #landing .carousel-indicators {
    position: absolute;
    top: 50em; }
  #landing .carousel-inner {
    position: relative;
    top: 35vh;
    min-height: 50vh; }
    #landing .carousel-inner .constant {
      padding: .3em 0em;
      text-transform: uppercase;
      font-weight: 100; }
    #landing .carousel-inner .cuisine {
      font-size: 2.7em;
      font-family: "Raleway";
      color: white;
      text-shadow: 2px 2px black; }
    #landing .carousel-inner .locations {
      font-size: 2.7em;
      font-family: "Raleway";
      color: white;
      text-shadow: 2px 2px black; }
    #landing .carousel-inner .tagline {
      font-size: 2.7em;
      font-family: "Raleway";
      color: white;
      text-shadow: 2px 2px black; }
  #landing a.btn {
    position: relative;
    color: #C8AF59;
    border-color: black;
    background-color: black;
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato";
    font-size: 26px;
    font-weight: 300;
    margin-top: 5em; }
    #landing a.btn:hover {
      background-color: #37645A;
      border-color: #37645A;
      color: black; }

#about_us {
  min-height: 100vh;
  padding: 4em 2em;
  background-image: url("../images/about_us.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  #about_us .about_us {
    text-align: center;
    background-color: black;
    height: 28em;
    width: 40vw;
    opacity: .8;
    margin: 25vh auto 0;
    padding: 3em 2em; }
    #about_us .about_us h2.about {
      font-size: 5em;
      color: #C9604C;
      font-weight: 400;
      font-family: "Yeseva-one";
      font-style: italic; }
    #about_us .about_us p.body {
      font-size: 18px;
      padding: 0em 1em;
      color: #C9604C;
      font-weight: 100;
      font-family: "Raleway"; }

#menu {
  padding: 4em 2em;
  background-image: url(../images/idli.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #menu .carousel-control {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 39px;
    width: 10%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: transparent;
    filter: alpha(opacity=50);
    opacity: .5; }
  #menu .carousel-control.left {
    left: 2em;
    margin-bottom: 0em;
    width: 0em; }
  #menu .carousel-control.right {
    margin-bottom: 0em;
    width: 0em;
    left: 55em; }
  #menu .carousel-control.glyphicon-chevron-right {
    margin-right: 50px; }
  #menu .row {
    text-align: center;
    background-color: black;
    height: 75em;
    width: 65vw;
    opacity: .8;
    margin: 15vh auto;
    padding: 2em 2em;
    margin-left: 1.2em; }
    #menu .row h3 {
      color: #C9604C; }
      #menu .row h3.main {
        text-align: center;
        font-family: "Yeseva-one";
        font-style: italic;
        font-size: 1.5em; }
      #menu .row h3.item_header {
        text-align: center;
        font-family: "Raleway";
        text-transform: capitalize;
        margin-top: 45px;
        margin-bottom: 35px;
        margin-left: -2px;
        padding-bottom: 1em;
        margin-bottom: 2em;
        text-transform: uppercase; }
    #menu .row p {
      color: #C9604C; }
      #menu .row p.dishes {
        text-align: center;
        font-size: 1.5em;
        font-family: "Lato";
        padding-left: -14px; }
      #menu .row p.description {
        text-align: center;
        font-weight: bold;
        font-style: italic;
        font-size: 1em;
        font-family: "Lato";
        margin: 0 19em; }
      #menu .row p.breads {
        text-align: center;
        font-size: 1.3em;
        font-family: "Lato";
        padding-left: -14px; }
      #menu .row p.rice {
        text-align: center;
        font-size: 1.3em;
        font-family: "Lato";
        padding-left: -14px; }

#gallery .carousel-inner .item1 {
  background-image: url(../images/rest1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh; }
  #gallery .carousel-inner .item1 .backdrop {
    background-color: black;
    opacity: .6;
    width: auto;
    display: inline-block;
    padding: 1em 2em; }
#gallery .carousel-inner .item2 {
  background-image: url(../images/rest2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh; }
  #gallery .carousel-inner .item2 .backdrop {
    background-color: black;
    opacity: .6;
    width: auto;
    display: inline-block;
    padding: 1em 2em; }
#gallery .carousel-inner .item3 {
  background-image: url(../images/rest3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh; }
  #gallery .carousel-inner .item3 .backdrop {
    background-color: black;
    opacity: .6;
    width: auto;
    display: inline-block;
    padding: 1em 2em; }
#gallery .carousel-inner .item4 {
  background-image: url(../images/rest4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh; }
  #gallery .carousel-inner .item4 .backdrop {
    background-color: black;
    opacity: .6;
    width: auto;
    display: inline-block;
    padding: 1em 2em; }
#gallery .carousel-inner .item5 {
  background-image: url(../images/rest5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh; }
  #gallery .carousel-inner .item5 .backdrop {
    background-color: black;
    opacity: .6;
    width: auto;
    display: inline-block;
    padding: 1em 2em; }
#gallery .carousel-inner .item6 {
  background-image: url(../images/rest6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh; }
  #gallery .carousel-inner .item6 .backdrop {
    background-color: black;
    opacity: .6;
    width: auto;
    display: inline-block;
    padding: 1em 2em; }
#gallery .carousel-inner .item7 {
  background-image: url(../images/rest7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh; }
  #gallery .carousel-inner .item7 .backdrop {
    background-color: black;
    opacity: .6;
    width: auto;
    display: inline-block;
    padding: 1em 2em; }
#gallery .carousel-inner h4 {
  font-family: "Lato";
  color: #C9604C;
  font-size: 2em;
  background-position: center center;
  height: 7vh;
  margin-bottom: -20px; }
#gallery .carousel-inner p {
  color: #C9604C;
  font-family: "Lato";
  font-size: 1.5em;
  font-style: italic; }

/*# sourceMappingURL=brain.css.map */
