#landing {
  min-height: 100vh;

  background-image: url('../images/vada.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  nav {
    &.navbar-inverse {
      background-color: transparent;
      border-color: transparent;
    }

    &.navbar-inverse .navbar-nav>.active>a {
      background-color: transparent;
    }

    a {
      text-align: center;
      color: $secondary_color;
      font-weight: 200;
      font-family: $native_font2;
      font-size: 15px;
      letter-spacing: 2px;
      font-weight: bold;
    }

    .navbar-brand {
      text-transform: uppercase;
      color: $main_color;
      font-family: $native_font;
      font-size:
    }
  }

.carousel-indicators {
  position: absolute;
  top: 50em;
}

.carousel-inner {

  position: relative;
  top: 35vh;
  min-height: 50vh;

  .constant {
    padding: .3em 0em;
    text-transform: uppercase;
    font-weight: 100;
  }

  .cuisine {
    font-size: 2.7em;
    font-family: $native_font2;
    color: white;
    // font-style: italic;
    text-shadow: 2px 2px black
  }

  .locations {
    font-size: 2.7em;
    font-family: $native_font2;
    color: white;
    // font-style: italic;
    text-shadow: 2px 2px black
  }

  .tagline {
    font-size: 2.7em;
    font-family: $native_font2;
    // font-style: italic;
    color: white;
    text-shadow: 2px 2px black;
  }
}

  a.btn {
    position: relative;
    color: #C8AF59;
    border-color: black;
    background-color: black;
    text-align: center;
    text-transform: uppercase;
    font-family: $button_font;
    font-size: 26px;
    font-weight: 300;
    margin-top: 5em;

  &:hover {
    background-color: #37645A;
    border-color: #37645A;
    color: black;
  }
}
}
